body {
    font-family: 'Segoe UI', sans-serif;
}

table {
    border-collapse:collapse;
    table-layout:fixed;
    width:100%;
    border: 1px solid black;
}

table td,th {
    border: 1px solid grey;
    text-align: center;
    width: 2em;
    height: 2em;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

table tr {
    border: 1px solid grey;
}

table td:nth-child(1) {
    font-style:italic;
    width:8em;
}

table tr:last-child {
    width: 3em;
    background-color:aquamarine;
}

.cell-right-border-divison {
    border-right-width:thick;
}

.cell-left-border-divison {
    border-left-width: thick;
}

.cell-bottom-border-divison {
    border-bottom-width: thick;
}

.cell-top-border-divison {
    border-top-width: thick;
}


table tr .row-bottom-border-division {
    border-bottom-width: medium;
}

table tr .row-top-border-division {
    border-top-width: medium;
}
